
  * {
    box-sizing: border-box;
  }


body,h2 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbaeb8;
    background-repeat: no-repeat; 
}


nav
{
  color: #e3c7dd; 
  padding: 1rem;
}


header
{
    text-align: center;
    padding: 2rem 0;
    background-image: url(https://miro.medium.com/v2/resize:fit:1358/1*eHZBy44Etx8wHZ44tFhILQ.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family:'Times New Roman', Times, serif;  
    height: 210px;
}


nav ul 
{
    list-style: none;
    display: flex;
    justify-content:center;
}

nav a 
{
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;   
}


.bn5
 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(239, 244, 240);
    background: #111;
    cursor: pointer;
    position:relative;
    z-index: 0;
    border-radius: 10px;
    font-family:cursive;
 }
  

  .bn5:before
 {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  

  @keyframes glowingbn5 
  {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  

  .bn5:active {
    color: #000;
  }
  

  .bn5:active:after {
    background: transparent;
  }
  

  .bn5:hover:before {
    opacity: 1;
  }
  

  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
 
 /* card css */

 a {
    color: inherit;
  }


  .cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
    flex-wrap: wrap; 
    max-width: 100vw; 
    overflow-x: hidden; 
}


  .card {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 5px solid #170303;
    text-decoration: none;
  } 



  .card:hover {
    transform: rotate(0);
  }
  
   
  .card h1 {
    margin: 0;
    font-size: 50px;
    line-height: 1.2em;
    color: #e3fa71;
  }
  
  .card p {
    font-size: 25px;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
    color: white;
  }
  
  .card .tags {
    display: flex;
  }
  
  .card .tags .tag {
    font-size: 19px;
    background: rgba(226, 146, 9, 0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }
  
  .card:hover .tags .tag {
    background: var(--color);
    color: rgb(219, 203, 203);
    font-size: 18px;
    font-weight: bold;
  }
  
  .card .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
  }
  
  .card:before, .card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }
  
  .card:before {
    width: 250%;
    height: 250%;
  }
  
  .card:after {
    width: 200%;
    height: 200%;
  }
  
  .card:hover {
    color: var(--color);
  }
  
  .card:hover:before, .card:hover:after {
    transform: scale(1);
  }
  
  .card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }
  
  .info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
  }
  
  .info img {
    height: 3em;
    margin-right: 0.5em;
  }
  
  .info h1 {
    font-size: 1em;
    font-weight: normal;
  }
  
  /* MEDIA QUERIES */
  @media screen and (max-width: 1285px) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 900px) {
    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .info {
      justify-content: center;
    }
    .card-grid-space .num {
      margin-left: 0;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 500px) {
    .cards-wrapper {
      padding: 4rem 2rem;
    }
    .card {
      max-width: calc(100vw - 4rem);
    }
  }
  
  @media screen and (max-width: 450px) {
    .info {
      display: block;
      text-align: center;
    }
    .info h1 {
      margin: 0;
    }
  }